* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    max-height: 100vh;
    font-family: "Fredoka";
}

.btn {
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(93, 166, 225);
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
}